<div class="collaborate-body">
    <ul>

        <li>
            <div class="collaborate-question">👋 Can you tell me a bit about yourself?</div>
            <!-- <div class="collaborate-answer youtube-video-container"> -->
            </li>
            <div class="youtube-video-container">
                <iframe width="500" height="300" src="https://www.youtube-nocookie.com/embed/XSS0thQ-a6g"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        

        <br />
        <li>
            <div class="collaborate-question">🛠 What technologies have you worked with?</div>
            <div class="collaborate-answer">
                <p><strong>Java, Spring</strong>: 2013-present</p>
                <p><strong>Angular, Node.js, React.js</strong>: 2018-2020</p>
                <p><strong>Mockito, Junit, ArchUnit</strong>: 2017-present</p>
                <p><strong>Ant, Maven, Gradle</strong>: 2015-present</p>
                <p><strong>Jenkins, Gitlab, Docker</strong>: 2016-present</p>
                <p><strong>Kubernetes</strong>: 2019-present; </p>
                <p><strong>GCP, AWS</strong> - theory &amp; trainings</p>
                <p><strong>Agile SCRUM, KANBAN</strong> methodologies for team and project organization: 2013-present</p>
                <p><strong>Software Craftsmanship</strong> methodology for technical growth and mentoring: 2018-present</p>

            </div>
        </li>
        <li>
            <div class="collaborate-question">🌎 What languages do you speak?</div>
            <div class="collaborate-answer">
                <p>Romanian <strong>C2</strong></p>
                <p>English <strong>C2</strong> (Cambridge Advanced English Certified)</p>
                <p>German <strong>B2</strong></p>
            </div>
        </li>
        <li>
            <div class="collaborate-question">👔 Can I get an updated CV from you?</div>
            <div class="collaborate-answer">You can find my updated resume in <strong><a
                        href="assets/files/Resume-Mihnea-Lazar.pdf" target="_blank">.pdf format here</a></strong>.</div>
        </li>
        <li>
            <div class="collaborate-question">💼 What are you looking for in a collaboration?</div>
            <div class="collaborate-answer">
                <p><strong>Growth 🌱</strong>.</p>
                <p>I'm looking to learn and expand my tech stack and business knowledge.</p>
                <p>Short and mid-term, on the tech side, my focus will go to learning more about <strong>front-end or mobile, along with cloud</strong> solutions.</p>
                <p>Mid-term, business-wise, my plan is to <strong>help my clients scale up larger parts of their business and teams</strong>, and to consolidate scalable and reusable processes.</p>
                <p>Long-term, business-wise, I will be looking to scale my own small business to <strong>grow knowledgeable developers and ambitious projects</strong>, either in-house or for external clients.</p>
                <p>I am also enthusiastic about neuroscience applications such as <strong>BCIs to empower people with disabilities</strong>, and blockchain applications such as <strong>NFTs for decentralized proof-of-ownership</strong>.</p>
            </div>
        </li>
        <li>
            <div class="collaborate-question">✈ Would you be willing to relocate?</div>
            <div class="collaborate-answer">
                <p>Permanent relocation? <strong>Perhaps starting 2023</strong>, depending on the project and location.</p>
                <p>Temporary relocation? <strong>Yes</strong>, for up to 6 months, if a client considers it necessary.
                </p>
                <p>Frequent business trips? <strong>On-site 1 week/month</strong> is a practice I had with a few clients.</p>
            </div>
        </li>
        <li>
            <div class="collaborate-question">🤝 What form of collaboration do you work with?</div>
            <div class="collaborate-answer"> Preferrably <strong>B2B</strong>. I have my own legal entity, with which I do my own invoicing to my
                clients.
            </div>
        </li>
        <li>
            <div class="collaborate-question">⏱ Are you available for full-time work?</div>
            <div class="collaborate-answer"> <strong>Yes</strong>. Some of my contracts do specify that I work full-time, 8h/day. </div>
        </li>
        <li>
            <div class="collaborate-question">🗓 What is your notice period?</div>
            <div class="collaborate-answer"> <strong>30 days</strong>.
            </div>
        </li>
        <li>
            <div class="collaborate-question">📞 When is a good time to have a call?</div>
            <div class="collaborate-answer">{% include calendly.html %}</div>

        </li>
        <li>
            <div class="collaborate-question">💰 What are your salary expectations?</div>
            <div class="collaborate-answer">
                <p>I'll be happy to provide a number, I'll just need a bit of information regarding the project/client beforehand. </p>
                <p>This can be provided in this <strong><a href="https://forms.gle/LetEP8bQEourkUxD8" target="_blank">short 1 minute form 🖊</a></strong>.</p>
            </div>
        </li>
    </ul>
</div>