<div class="collaborate-body">
    <ul>

        <!-- <li> -->
        <div class="collaborate-question">Can you tell me a bit about yourself?</div>
        <div class="collaborate-answer youtube-video-container">
            <iframe width="500" height="300" src="https://www.youtube-nocookie.com/embed/8ePHBvcFY0s"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <!-- </li> -->

        <br />
        <!-- <li> -->
        <div class="collaborate-question">What technologies have you worked with?</div>
        <div class="collaborate-answer">
            <b>Development</b> <br />

            <p>Languages and frameworks: </p>
            <p><img src="https://github.com/devicons/devicon/blob/master/icons/java/java-original.svg" alt="Java" width="50" height="50"/><strong>Java</strong>: 2013-present</p>
            <p><img src="https://github.com/devicons/devicon/blob/master/icons/spring/spring-original.svg" alt="Spring" width="50" height="50"/><strong>Spring</strong>: 2015-present</p>
            <p><img src="https://github.com/devicons/devicon/blob/master/icons/nodejs/nodejs-original-wordmark.svg"/><strong>Node.js</strong>: 2018-2020</p>
            <p><strong>React.js</strong>: 2018-2020</p>
            <p><strong>Angular</strong>: 2017-2018</p>
            <p>Testing:
                <strong>Mockito, Junit, ArchUnit</strong>: 2017-present
            </p>
            <p>Build tools: <strong>Ant, Maven, Gradle</strong>: 2015-present</p>
            <p>CI/CD: <strong>Jenkins, Gitlab, Docker</strong>: 2016-present</p>
            <p>Cloud: </p>
            <p><strong>Kubernetes</strong>: 2019-present; </p>
            <p><strong>GCP, AWS</strong> - theory &amp; trainings</p>
            <p>Methodologies: <strong>Agile SCRUM, KANBAN: 2013-present</strong></p>

        </div>
        <!-- </li> -->
        <li>
            <div class="collaborate-question">What languages do you speak?</div>
            <div class="collaborate-answer">
                * Romanian **C2**
                * English **C2** (Cambridge Advanced English Certified)
                * German **B2**
            </div>
        </li>
        <li>
            <div class="collaborate-question"> Can I get an updated CV from you?</div>
            <div class="collaborate-answer">You can find my updated resume in **.pdf** format **[here 📜]({% link
                /assets/files/Resume-Mihnea-Lazar.pdf
                %}){:target="_blank"}**.
            </div>
        </li>
        <li>
            <div class="collaborate-question"> When is a good time to have a call?</div>
            <div class="collaborate-answer">{% include calendly.html %}</div>

        </li>
        <li>
            <div class="collaborate-question"> What are you salary expectations?</div>
            <div class="collaborate-answer">I'll be happy to provide a number, I'll just need a bit of information
                regarding the project/client
                beforehand,
                which can be provided in this **[short 1 minute form
                🖊](https://forms.gle/LetEP8bQEourkUxD8){:target="_blank"}**.
            </div>
        </li>
        <li>
            <div class="collaborate-question"> Would you be willing to relocate?</div>
            <div class="collaborate-answer"> Permanent relocation? **Maybe**.

                Temporary relocation? **Yes**, for up to 6 months, if a client considers it necessary.

                Frequent business trips? I'm available for travelling and working **on-site 1 week/month** for my
                clients.
            </div>
        </li>
        <li>
            <div class="collaborate-question"> What form of collaboration do you work with?</div>
            <div class="collaborate-answer"> B2B. I have my own legal entity, with which I do my own invoicing to my
                clients.
            </div>
        </li>
        <li>
            <div class="collaborate-question"> What is your notice period?</div>
            <div class="collaborate-answer"> 30 days
            </div>
        </li>
        <li>
            <div class="collaborate-question"> Are you available for full-time work?</div>
            <div class="collaborate-answer"> Yes. Some of my contracts do specify that I work full-time, 8h/day. I don't
                have a problem with that.
            </div>
        </li>
    </ul>
</div>