<!-- replace x.x.x with actual version -->
<!-- replace x.x.x with actual version -->
<script src="https://unpkg.com/@codersrank/summary@0.9.11/codersrank-summary.min.js"></script>
<codersrank-summary username="lzrmihnea" branding=false></codersrank-summary>

<!-- replace x.x.x with actual version -->
<script src="https://unpkg.com/@codersrank/skills-chart@0.9.21/codersrank-skills-chart.min.js"></script>
<codersrank-skills-chart username="lzrmihnea" branding=false labels legend tooltip></codersrank-skills-chart>

<script src="https://unpkg.com/@codersrank/timeline@0.9.2/codersrank-timeline.min.js"></script>
<codersrank-timeline username="lzrmihnea" branding=false type="technologies"></codersrank-timeline>
