<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
If I've directed you here and from the information read, you feel we could collaborate, feel free to schedule a 
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/lzrmihnea/20min'});return false;">
    <b>20 minute call ☎</b>
</a> with me.
<!-- Calendly link widget end -->