<!-- Both sections -->
<style type="text/css" media="screen">
    .post-content img {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        float: none;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    img[alt="goodreads.com"] {
        visibility: hidden;
    }
</style>


<!-- Currently reading -->
<style type="text/css" media="screen">
    .gr_custom_container_1552753405 {
        /* customize your Goodreads widget container here*/
        border: 0px solid gray;
        border-radius: 10px;
        padding: 10px 5px 10px 5px;
        background-color: transparent;
        color: #000000;

    }

    .gr_custom_header_1552753405 {
        /* customize your Goodreads header here*/
        border-bottom: 1px solid gray;
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
        font-size: 80%
    }

    .gr_custom_each_container_1552753405 {
        /* customize each individual book container here */
        width: 100%;
        clear: both;
        margin-bottom: 10px;
        overflow: auto;
        padding-bottom: 4px;
        border-bottom: 1px solid #aaa;
    }

    .gr_custom_book_container_1552753405 {
        /* customize your book covers here */
        overflow: hidden;
        height: 60px;
        float: left;
        margin-right: 4px;
        width: 39px;
    }

    .gr_custom_author_1552753405 {
        /* customize your author names here */
        font-size: 10px;
    }

    .gr_custom_tags_1552753405 {
        /* customize your tags here */
        font-size: 10px;
        color: gray;
    }

    .gr_custom_rating_1552753405 {
        /* customize your rating stars here */
        float: right;
    }

</style>


<!-- Latest 7 read books -->
<style type="text/css" media="screen">
    .gr_custom_container_1586947612 {
        /* customize your Goodreads widget container here*/
        border: 0px solid gray;
        border-radius: 10px;
        padding: 10px 5px 10px 5px;
        background-color: transparent;
        color: #000000;

    }

    .gr_custom_header_1586947612 {
        /* customize your Goodreads header here*/
        border-bottom: 1px solid gray;
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
        font-size: 80%
    }

    .gr_custom_each_container_1586947612 {
        /* customize each individual book container here */
        width: 100%;
        clear: both;
        margin-bottom: 10px;
        overflow: auto;
        padding-bottom: 4px;
        border-bottom: 1px solid #aaa;
    }

    .gr_custom_book_container_1586947612 {
        /* customize your book covers here */
        overflow: hidden;
        height: 60px;
        float: left;
        margin-right: 4px;
        width: 39px;
    }

    .gr_custom_author_1586947612 {
        /* customize your author names here */
        font-size: 10px;
    }

    .gr_custom_tags_1586947612 {
        /* customize your tags here */
        font-size: 10px;
        color: gray;
    }

    .gr_custom_rating_1586947612 {
        /* customize your rating stars here */
        float: right;
    }
</style>

<script src="https://www.goodreads.com/review/custom_widget/6988924.Currently%20reading?cover_position=left&cover_size=small&num_books=30&order=d&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=none&widget_id=1552753405&widget_text_color=000000&widget_title_size=small&widget_width=full"
        type="text/javascript" charset="utf-8"></script>

<script src="https://www.goodreads.com/review/custom_widget/6988924.Latest%207%20read%20books?cover_position=left&cover_size=small&num_books=7&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=0&show_tags=0&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=none&widget_id=1586947612&widget_text_color=000000&widget_title_size=small&widget_width=full"
        type="text/javascript" charset="utf-8"></script>
